<div class="index-dashboard">
    <div class="big-sezione">
        <div class="sezione">
            <div class="titolo_sezione">
                <span class="titolo_sezione">DA REVISIONARE</span>
                <hr class="titolo_sezione">
                <div class="elenco_sezione">
                    <div class="voce_es">
                        <div class="titolo_ves">Megan</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('upload.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">The Equalizer (S03E07)</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('upload.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="sezione">
            <div class="titolo_sezione">
                <span class="titolo_sezione">REVISIONATE</span>
                <hr class="titolo_sezione">
                <div class="elenco_sezione">
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                    <div class="voce_es">
                        <div class="titolo_ves">Up</div>
                        <div class="scadenza_ves">
                            <%= link_to image_tag('pencil.png', size: "20x20"), root_path %>
                            <%= link_to image_tag('download.png', size: "20x20"), root_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>