<div class="index-dashboard">
    <div class="sezione">
        <div class="titolo_sezione">
            <span class="titolo_sezione">TRADUTTORI PREFERITI</span>
            <hr class="titolo_sezione">
            <div class="elenco_preferiti">
                <div class="nome_ep">
                    <span class="nome_ep">Numa Pompilio</span>
                    <%= link_to image_tag('fullheart.png', size: "40x40"), root_path %>
                </div>
                <div class="voce_ep">
                    <div class="titolo_vep"><%= link_to image_tag('document.png', size: "40x40"), root_path %>Friends (S02E10)</div>
                    <div class="rating_vep">
                        <% for i in 1..10 do %>
                            <%= image_tag('emptystar.png', size: "20x20") %>
                        <% end %>
                        <%= link_to image_tag('download.png', size: "20x20"), dashboard_path %>
                    </div>
                </div>
                <div class="voce_ep">
                    <div class="titolo_vep"><%= link_to image_tag('document.png', size: "40x40"), root_path %>How I Met Your Father (S01E09)</div>
                    <div class="rating_vep">
                        <% for i in 1..10 do %>
                            <%= image_tag('emptystar.png', size: "20x20") %>
                        <% end %>
                        <%= link_to image_tag('download.png', size: "20x20"), dashboard_path %>
                    </div>
                </div>
                <div class="voce_ep">
                    <div class="titolo_vep"><%= link_to image_tag('document.png', size: "40x40"), root_path %>Avatar - La via dell'acqua</div>
                    <div class="rating_vep">
                        <% for i in 1..10 do %>
                            <%= image_tag('emptystar.png', size: "20x20") %>
                        <% end %>
                        <%= link_to image_tag('download.png', size: "20x20"), dashboard_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= button_to "LOGOUT",  destroy_session_path(:user), :method => :delete, class:"button" %>