<div id="<%= dom_id translation %>">
  <p>
    <strong>Titolo:</strong>
    <%= translation.titolo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= translation.tipo %>
  </p>

  <p>
    <strong>Stagione:</strong>
    <%= translation.stagione %>
  </p>

  <p>
    <strong>Episodio:</strong>
    <%= translation.episodio %>
  </p>

  <p>
    <strong>Revisore:</strong>
    <%= translation.revisore_id %>
  </p>

  <p>
    <strong>Traduttore:</strong>
    <%= translation.traduttore_id %>
  </p>

</div>
