<head>
<%= javascript_include_tag 'application' %>
</head>

<div class="logo"><%= image_tag('logo.png', size: "200x200") %></div>

    <% if current_user %>
        <ul class="tabs">   
            <div class="tab"><%= link_to "BACHECA", dashboard_path, class:"tab_span" %></div>
            <div class="tab"><%= link_to "CARICA", root_path, class:"tab_span" %></div>
            <div class="tab"><%= link_to "CLASSIFICA", root_path, class:"tab_span" %></div>
            <div class="tab"><%= link_to "ACCOUNT", account_path, class:"tab_span" %></div>
            <div class="tab"><%= link_to "CALENDARIO", root_path, class:"tab_span" %></div>
        </ul>
    <% else %>
        <ul class="tabs">   
            <div class="tab"><%= link_to "HOME", root_path, class:"tab_span" %></div>
        </ul>
    <% end %>