<head>
<%= javascript_include_tag 'application' %>
</head>
<div class="index-account">
    <span>
        <br/>
        <%= image_tag('profilo.jpg', size: "180x180") %>
        <br/>
        <%= "Saretta<3"%>
        <br/><br/>
        <b><%= "Dati Anagrafici:"%></b>
        <br/>
        <%= "Sara Alfano"%>
        <br/>
        <%= "alfano.1886678@studenti.uniroma1.it"%>
        <br/><br/>
        <b><%= "Ruolo:"%></b>
        <br/>
        <%= "Utente"%> 
    </span>
    <br/><br/>
    <div class="buttons-account">
        <%= link_to "DIVENTA TRADUTTORE", new_user_session_path, class:"button" %>
        
    </div>
    <div class="buttons-footer-account" style="width: 100%;">
        <%= link_to "CAMBIA PASSWORD", new_user_session_path, class:"button-account" %>
    </div>
    <div class="buttons-footer-account" style="width: 100%;">
        <%= link_to "ELIMINA ACCOUNT",  new_user_registration_path, class:"button-account" %>
    </div>
</div>
