<div class="index-account">

    <div class="buttons-footer-account">
      <%= button_to "CAMBIA PASSWORD", edit_user_password_path, class:"button-footer-account" %>
      <%= button_to "ELIMINA ACCOUNT", registration_path(resource_name), data: { confirm: "SICURO DI VOLER ELIMINARE L'ACCOUNT?" }, method: :delete, class:"button-footer-account" %>
    </div>

  <div class="edit-account">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              
      <% if current_user.image.attached? %>
        <%= image_tag(current_user.image, size: "80x80", class:"profile_pic") %>
      <% else %>
          <%= image_tag('default_pic.png', size: "80x80", class:"profile_pic") %>
      <% end %>

      <br/>
      <%= f.file_field :image %>

      <br/><br/>
      <%= f.text_field :username, autocomplete: "username", placeholder: "Username", class:"field-account" %>
      <br/><br/>
      <%= f.email_field :email, autocomplete: "email", class:"field-account" %>
      <br/><br/>
      <%= f.text_field :nome, autocomplete: "nome", placeholder: "Nome", class:"field-account" %>
      <%= f.text_field :cognome, autocomplete: "cognome", placeholder: "Cognome", class:"field-account" %>

      <br/><br/>

      <b>RUOLO:</b>
      <br/>
      <%= current_user.ruolo %>

      <br/><br/>
      <div class="buttons-account">
        <%= f.submit "UPDATE", class:"button-account" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
    <% end %>
        <% if current_user.ruolo=="Utente" %>
          <%= button_to "DIVENTA TRADUTTORE", becometranslator_path(), class:"button-account" %>
        <% elsif current_user.ruolo=="Traduttore" %>
          <%= button_to "TORNA A UTENTE", becomeuser_path(), class:"button-account" %>
          <% if current_user.score.round(1) > 8 %>
            <%= button_to "DIVENTA PM", becomepm_path(), class:"button-account" %>
          <% end %>
        <% elsif current_user.ruolo=="Project Manager" %>
          <%= button_to "TORNA A UTENTE", becomeuser_path(), class:"button-account" %>
          <%= button_to "TORNA A TRADUTTORE", becometranslator_path(), class:"button-account" %>
        <% end %>
      </div>

      
  </div>

</div>
<%= render "users/shared/error_messages", resource: resource %>

