<div class="index">
  <div class="index_signup">
    <h2 class="page_title">REGISTRATI</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="fields">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "fieldarea" %>

        <%= f.text_field :username, autocomplete: "username", placeholder: "Username", class: "fieldarea" %>
        
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "fieldarea" %>

        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Ripeti password", class: "fieldarea" %>
      </div>

      <br/>
      <br/>
      <div class="actions session_buttons">
        <%= f.submit "SIGN UP", class:"button" %>
      </div>
    <% end %>

    <br/>

    <%= render "users/shared/links" %>
  </div>

</div>
